.banner {
    background: #dd2c14;
    padding: 3.5% 3.8%;
    width: 621px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 55px;
    @include laptop() {
        width: 560px;
        margin-bottom: 15vw;
        margin-left: 2%;
    }
    @include tablet() {
        width: 65%;
        min-width: 340px;
        margin-bottom: 400px;
    }
    @include phone() {
        min-width: 240px;
        padding: 2%;
        margin-bottom: 250px;
        width: 60%;
        margin-left: 0;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 0px;
        border: 28px solid #dd2c14;
        top: 100%;
        right: 12%;
        height: 0px;
        border-bottom: 28px solid transparent;
        border-left: 35px solid transparent;
        border-right: 35px solid #dd2c14;
        @include tablet() {
            right: 20%;
            border: 21px solid #dd2c14;
            border-bottom: 21px solid transparent;
            border-left: 25px solid transparent;
            border-right: 25px solid #dd2c14;
        }
        @include phone() {
            right: 30%;
            border: 14px solid #dd2c14;
            border-bottom: 14px solid transparent;
            border-left: 20px solid transparent;
            border-right: 20px solid #dd2c14;
        }
    }
    &__content {
        color: white;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: bold;
        @include laptop() {
            font-size: 32px;
        }
        @include tablet() {
            font-size: 20px;
        }
        @include phone() {
            font-size: 15px;
        }
    }
}