.header {
    width: 100vw;
    height: 56px;
    background-color: rgba(0,23,37,0.2);
    position: relative;
    &__list {
        display: flex;
        height: 56px;
        align-items: center;
        justify-content: space-between;
        @include tablet() {
            display: none;
        }
    }
    &__item {
        height: 100%;
        padding: 0 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &-link {
            color: black;
            padding: 19px 5px;
            width: 100%;
            font-size: 16px;
            font-weight: bold;
            position: relative;
            transition: all .5s;
            &:before {
                content: "";
                width: 0;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: rgb(221, 44, 20);
                transition: .5s;
            }
            &:hover {
                color: rgb(221, 44, 20);
                &:before {
                    width: 100%;
                }
            }
        }
    }
}