.man {
    position: absolute;
    bottom: -3px;
    left: 200px;
    @include laptop() {
        bottom: 417px;
        left: 30%;
    }
    @include tablet() {
        bottom: 716px;
        left: 0%;
    }
    @include phone() {
        bottom: 642px;
    }
    &__img {
        @include laptop() {
            width: 63vw;
            min-width: 475px;
        }
        @include tablet() {
            width: 100%;
            min-width: 100%;
        }
    }
}